# Don't do line ending conversions by default.  We'll specify eol
# conversions explicitly on a per-file-extension basis.
* -text

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
.gitattributes text=auto
.gitignore text=auto
Makefile text=auto
makefile text=auto
*.md text=auto
*.mk text=auto
*.txt text=auto

# Declare files that will always have CRLF or LF line endings on checkout.
*.sln text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.bash text eol=lf
*.sh text eol=lf
*.csh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.a binary
*.so binary
*.lib binary
*.dll binary
*.dylib binary
*.exe binary

*.7z binary
*.bz binary
*.bz2 binary
*.cab binary
*.deb binary
*.ear binary
*.gz binary
*.jar binary
*.rar binary
*.rpm binary
*.t7z binary
*.tar binary
*.taz binary
*.tbz binary
*.tbz2 binary
*.txz binary
*.tz binary
*.tgz binary
*.war binary
*.xz binary
*.Z binary
*.z binary
*.zip binary

*.gif binary
*.png binary
*.jpg binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
